# Data Exploration and Processing

## HDB Carpark

In [1]:
import pandas as pd

In [3]:
#HDBCarparkInformation_latlong
hdb_carpark_df = pd.read_csv('data/HDBCarparkInformation_latlong.csv')
hdb_carpark_df

,car_park_no,address,x_coord,y_coord,car_park_type,type_of_parking_system,short_term_parking,free_parking,night_parking,car_park_decks,gantry_height,car_park_basement,latitude,longitude
0,ACB,BLK 270/271 ALBERT CENTRE BASEMENT CAR PARK,30314.7936,31490.4942,BASEMENT CAR PARK,ELECTRONIC PARKING,WHOLE DAY,NO,YES,1,1.80,Y,1.301063,103.854118
1,ACM,BLK 98A ALJUNIED CRESCENT,33758.4143,33695.5198,MULTI-STOREY CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,5,2.10,N,1.321004,103.885061
2,AH1,BLK 101 JALAN DUSUN,29257.7203,34500.3599,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,0,0.00,N,1.328283,103.844620
3,AK19,BLOCK 253 ANG MO KIO STREET 21,28185.4359,39012.6664,SURFACE CAR PARK,COUPON PARKING,7AM-7PM,NO,NO,0,0.00,N,1.369091,103.834985
4,AK31,BLK 302/348 ANG MO KIO STREET 31,29482.0290,38684.1754,SURFACE CAR PARK,COUPON PARKING,NO,NO,NO,0,0.00,N,1.366120,103.846636
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2221,Y81M,BLK 476 YISHUN STREET 44,30194.3665,45535.3488,MULTI-STOREY CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,15,2.15,N,1.428080,103.853037
2222,Y82M,BLK 478 YISHUN STREET 42,29935.5818,45679.7181,MULTI-STOREY CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,11,2.15,N,1.429386,103.850712
2223,Y83L,BLK 382 YISHUN STREET 31,29649.6679,45882.3415,SURFACE CAR PARK,ELECTRONIC PARKING,NO,NO,NO,0,0.00,N,1.431218,103.848142
2224,Y83M,BLK 382 YISHUN STREET 31,29505.6858,45847.8567,MULTI-STOREY CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,16,2.15,N,1.430906,103.846849
2225,Y9,BLK 747/752 YISHUN STREET 72,28077.2305,45507.8047,SURFACE CAR PARK,ELECTRONIC PARKING,WHOLE DAY,SUN & PH FR 7AM-10.30PM,YES,0,4.50,N,1.427831,103.834013

In [4]:
#number of carpark_types
hdb_carpark_df['car_park_type'].value_counts()

car_park_type
SURFACE CAR PARK                   1095
MULTI-STOREY CAR PARK              1062
BASEMENT CAR PARK                    45
SURFACE/MULTI-STOREY CAR PARK        11
COVERED CAR PARK                     10
MECHANISED AND SURFACE CAR PARK       2
MECHANISED CAR PARK                   1
Name: count, dtype: int64

In [5]:
#number of type of parking system
hdb_carpark_df['type_of_parking_system'].value_counts()

type_of_parking_system
ELECTRONIC PARKING    2050
COUPON PARKING         176
Name: count, dtype: int64

## Shopping Mall Car Park

In [6]:
shopping_mall_df = pd.read_csv('data/ShoppingMall.csv')
shopping_mall_df

                          Mall Name  LATITUDE   LONGITUDE
0                            100 AM  1.274588  103.843471
1                      313@Somerset  1.301014  103.838361
2                            Aperia  1.310474  103.864313
3    Balestier Hill Shopping Centre  1.325596  103.842572
4                        Bugis Cube  1.298141  103.855635
..                              ...       ...         ...
150         Gek Poh Shopping Centre  1.348742  103.697740
151                  Rochester Mall  1.305408  103.788447
152    Taman Jurong Shopping Centre  1.334845  103.720462
153                West Coast Plaza  1.303586  103.766104
154       Queensway Shopping Centre  1.287618  103.803391

[155 rows x 3 columns]

## Merge the 2 dataframes

In [8]:
# for carpark only take rows with car_park_type as 'MULTI-STOREY CAR PARK', 'BASEMENT CAR PARK' and 'SURFACE/MULTI-STOREY CAR PARK'
new_carpark_df = hdb_carpark_df[hdb_carpark_df['car_park_type'].isin(['MULTI-STOREY CAR PARK', 'BASEMENT CAR PARK', 'SURFACE/MULTI-STOREY CAR PARK'])]
# take car_park_no, latitude, longitude
new_carpark_df = new_carpark_df[['car_park_no', 'latitude', 'longitude']]
# convert car_park_no to name
new_carpark_df = new_carpark_df.rename(columns={'car_park_no': 'name'})

# convert shopping mall df title from Mall Name to name LATITUDE to latitude and LONGITUDE to longitude
shopping_mall_df = shopping_mall_df.rename(columns={'Mall Name': 'name', 'LATITUDE': 'latitude', 'LONGITUDE': 'longitude'})

# Append the two dataframes and add a type (carpark or shopping mall car park)
new_carpark_df['type'] = 'HDB Carpark'
shopping_mall_df['type'] = 'Shopping Mall Carpark'

combined_df = pd.concat(
    [new_carpark_df, shopping_mall_df[["name", "latitude", "longitude", "type"]]],
    ignore_index=True,
)

combined_df

,name,latitude,longitude,type
0,ACB,1.301063,103.854118,HDB Carpark
1,ACM,1.321004,103.885061,HDB Carpark
2,AM14,1.368741,103.840301,HDB Carpark
3,AM16,1.370350,103.835718,HDB Carpark
4,AM18,1.365540,103.844619,HDB Carpark
...,...,...,...,...
1268,Gek Poh Shopping Centre,1.348742,103.697740,Shopping Mall Carpark
1269,Rochester Mall,1.305408,103.788447,Shopping Mall Carpark
1270,Taman Jurong Shopping Centre,1.334845,103.720462,Shopping Mall Carpark
1271,West Coast Plaza,1.303586,103.766104,Shopping Mall Carpark
1272,Queensway Shopping Centre,1.287618,103.803391,Shopping Mall Carpark

In [9]:
#export to csv
combined_df.to_csv('data/CombinedCarpark.csv', index=False)

## Points of Interest

In [18]:
#load HDBPropertyInformation_lat_long.csv
hdb_property_df = pd.read_csv('data/HDBPropertyInformation_latlong.csv')
hdb_property_df

,blk_no,street,max_floor_lvl,year_completed,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,...,exec_sold,multigen_sold,studio_apartment_sold,1room_rental,2room_rental,3room_rental,other_room_rental,Address,latitude,longitude
0,1,BEACH RD,16,1970,Y,Y,N,N,N,N,...,0,0,0,0,0,0,0,1 BEACH RD,1.303671,103.864479
1,1,BEDOK STH AVE 1,14,1975,Y,N,N,Y,N,N,...,0,0,0,0,0,0,0,1 BEDOK STH AVE 1,1.320852,103.933721
2,1,CANTONMENT RD,2,2010,N,Y,N,N,N,N,...,0,0,0,0,0,0,0,1 CANTONMENT RD,1.275499,103.841398
3,1,CHAI CHEE RD,15,1982,Y,N,N,N,N,N,...,0,0,0,0,0,0,0,1 CHAI CHEE RD,1.327969,103.922716
4,1,CHANGI VILLAGE RD,4,1975,Y,Y,N,N,N,N,...,0,0,0,0,0,0,0,1 CHANGI VILLAGE RD,1.388547,103.987804
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12872,998A,BUANGKOK CRES,18,2018,Y,N,N,N,N,N,...,0,0,0,0,0,0,0,998A BUANGKOK CRES,1.383758,103.880172
12873,998B,BUANGKOK CRES,17,2018,Y,N,N,N,N,N,...,0,0,0,0,0,0,0,998B BUANGKOK CRES,1.384101,103.880505
12874,999,BUANGKOK CRES,2,2018,N,N,N,Y,N,Y,...,0,0,0,0,0,0,0,999 BUANGKOK CRES,1.384564,103.879946
12875,999A,BUANGKOK CRES,18,2018,Y,N,N,N,N,N,...,0,0,0,136,170,0,0,999A BUANGKOK CRES,1.384855,103.880374
12876,999B,BUANGKOK CRES,17,2018,Y,N,N,N,N,N,...,0,0,0,0,0,0,0,999B BUANGKOK CRES,1.384537,103.880589

In [19]:
shopping_mall_df

,name,latitude,longitude,type
0,100 AM,1.274588,103.843471,Shopping Mall Carpark
1,313@Somerset,1.301014,103.838361,Shopping Mall Carpark
2,Aperia,1.310474,103.864313,Shopping Mall Carpark
3,Balestier Hill Shopping Centre,1.325596,103.842572,Shopping Mall Carpark
4,Bugis Cube,1.298141,103.855635,Shopping Mall Carpark
...,...,...,...,...
150,Gek Poh Shopping Centre,1.348742,103.697740,Shopping Mall Carpark
151,Rochester Mall,1.305408,103.788447,Shopping Mall Carpark
152,Taman Jurong Shopping Centre,1.334845,103.720462,Shopping Mall Carpark
153,West Coast Plaza,1.303586,103.766104,Shopping Mall Carpark
154,Queensway Shopping Centre,1.287618,103.803391,Shopping Mall Carpark

In [20]:
#extract Address, latitude, longitude
new_hdb_property_df = hdb_property_df[['Address', 'latitude', 'longitude']]
#add type: HDB Property
new_hdb_property_df['type'] = 'HDB Property'
new_hdb_property_df = new_hdb_property_df.rename(columns={'Address': 'name'})

#append to combined_poi_df
combined_poi_df = pd.concat(
    [new_hdb_property_df, shopping_mall_df],
    ignore_index=True,
)

combined_poi_df

C:\Users\fabef\AppData\Local\Temp\ipykernel_52480\3346367426.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_hdb_property_df['type'] = 'HDB Property'

,name,latitude,longitude,type
0,1 BEACH RD,1.303671,103.864479,HDB Property
1,1 BEDOK STH AVE 1,1.320852,103.933721,HDB Property
2,1 CANTONMENT RD,1.275499,103.841398,HDB Property
3,1 CHAI CHEE RD,1.327969,103.922716,HDB Property
4,1 CHANGI VILLAGE RD,1.388547,103.987804,HDB Property
...,...,...,...,...
13027,Gek Poh Shopping Centre,1.348742,103.697740,Shopping Mall Carpark
13028,Rochester Mall,1.305408,103.788447,Shopping Mall Carpark
13029,Taman Jurong Shopping Centre,1.334845,103.720462,Shopping Mall Carpark
13030,West Coast Plaza,1.303586,103.766104,Shopping Mall Carpark
13031,Queensway Shopping Centre,1.287618,103.803391,Shopping Mall Carpark

In [21]:
#save to csv
combined_poi_df.to_csv('data/CombinedPOI.csv', index=False)